asgiref==3.6.0
dj-database-url==1.2.0
Django==4.1.6
django-heroku==0.3.1
gunicorn==20.1.0
psycopg2-binary==2.9.9 # Adjust for your specific version
python-decouple==3.7
sqlparse==0.4.3
whitenoise==6.3.0
python-dotenv==0.21.0
