*{
    margin:0;

    box-sizing: border-box;
}

.headerup23{
    background-color: #333;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 999;
  }
  
.headerup23 span {
    margin: 0 auto;
    text-align: center;
    width: 60%; /* add width of your choice */
    }

.headerup23 p {
    margin-left: 10px;
    margin-right: auto; /* push the p element to the left */
}

.headerup23 button {
    margin-left: 10px; /* add margin between buttons */
}

body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}


.side-bar{
    flex: 0.1;
    height: 100%;
    background-color: white;
    overflow-y: hidden;
}

.feed{
    margin-top: 20px;
    flex: 0.6;
    min-width: fit-content;
    background-color:#f9f9f9;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-link{
    display:flex;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    padding: 12px 25px;
}

.nav-link span{
    text-align: center;
}

.nav-link:hover{
    background: #ffcc00;
    cursor: pointer;
}

.active{
    background: #ffcc00;
}

.widgets{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
    padding-top: 20px;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .headerup23{
        display: none;
    }

    .side-bar {
       
        display: none;
    }

    .feed {
        order: 2;
        width: 100%;
    }

    .widgets {
        width: 100%;
        order: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
        }
    }

}

.tiny{
    width: 40%;
}